body{
font-family:Arial;
margin:0;
padding:0;
background:linear-gradient(135deg,#05657f,#39e6e3);
}

.container{
width:60%;
margin:30px auto;
background:white;
padding:25px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

h1{
text-align:center;
color:white;
padding:10px;
border-radius:5px;
background:linear-gradient(90deg,#26575e,#40bfd0);
}

h2{
color:#34495e;
}

label{
display:block;
margin-top:10px;
}

input,select{
width:100%;
padding:8px;
margin-top:5px;
}

button{
margin-top:15px;
padding:10px;
width:100%;
background:#2993a1;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:#1a252f;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table,th,td{
border:1px solid #47b7c8;
}

th{
background:#2c3e50;
color:white;
padding:8px;
}

td{
padding:8px;
text-align:center;
}

tr:hover{
background:#e7ffff;
}